@value tokens: "../../styles/tokens.module.css";
@value spacerSmall, spacerBig, colorPrimary from tokens;

.add__button {
    background-color: colorPrimary;
    color:white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;

    position: fixed;
    bottom: 5rem;
    right: 1rem;
}