@value tokens: "../../styles/tokens.module.css";
@value spacerSmall, spacerMedium, spacerBig, spacerLarge, fontSizeMedium, colorPrimary from tokens;

.post {
  composes: post from "../../styles/components.module.css";
  height: 100vh;
  list-style: none;
  margin-top: spacerLarge;
}

.post__header {
  composes: post__header from "../../components/Post/Post.module.css";
}

.post__header__wrapper {
  composes: post__header__wrapper from "../../components/Post/Post.module.css";
}

.post__avatar {
  composes: post__avatar from "../../components/Post/Post.module.css";
}

.post__user {
  composes: post__user from "../../components/Post/Post.module.css";
}

.post__location {
  composes: post__location from "../../components/Post/Post.module.css";
}

.post__tags {
  composes: post__tags from "../../components/Post/Post.module.css";
}

.tag {
  margin-right: spacerSmall;
}

.post__time {
  composes: post__time from "../../components/Post/Post.module.css";
}

.post__picture {
  composes: post__picture from "../../components/Post/Post.module.css";
}

.post__bottom {
  composes: post__bottom from "../../components/Post/Post.module.css";
}

.post__like {
  composes: post__like from "../../components/Post/Post.module.css";
}

.post--liked {
  composes: post--liked from "../../components/Post/Post.module.css";
}

.post--unlike {
  composes: post--unlike from "../../components/Post/Post.module.css";
}