@value tokens: "./tokens.module.css";
@value spacerSmall, spacerMedium, spacerBig from tokens;

.form {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.form__input {
  border: .1rem solid #dcdcfa;
  border-radius: 10rem;
  padding: .5rem spacerSmall;
  width: 95%;
}

.form__button {
  border: none;
  background-color: white;
}

.form__button img {
  width: 2rem;
  height: 2rem;
}

.post {
  background-color: white;
  padding: calc(spacerBig / 2);
  margin-bottom: spacerMedium;
}
