@value tokens: "./tokens.module.css";
@value spacerMedium from tokens;


.container {
    margin: spacerMedium;
}

.grid {
    display: grid;
}



/* .container {
  composes: full from "../../styles/layouts.module.css";
} */

