@value tokens: "./tokens.module.css";
@value fontSizeLarge, fontSizeMedium, background, spacer1 from tokens;

.title {
  font-size: fontSizeLarge;
  font-weight: bold;
}

.subtitle {
  font-size: fontSizeMedium;
  background-color: background;
  padding: spacer1;
}


