@value tokens: "../../styles/tokens.module.css";
@value spacerSmall from tokens;

.comment {
  margin-bottom: spacerSmall;
}

.comment__user {
  font-weight: 700;
}

.comment__comment {
  padding-top: .2rem;
}