@value tokens: "../../styles/tokens.module.css";
@value spacerMedium from tokens;

.posts {
  margin: spacerMedium;
  margin-top: 6rem;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 800px) {

  .posts {
    margin-top: 8rem;
  }

  .test {
    display: hidden;
  }
}