@value tokens: "../../styles/tokens.module.css";
@value spacerSmall, spacerMedium from tokens;

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: spacerSmall spacerMedium;
  background-color: white;
}

.button {
  display: block;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 2rem;
  width: 2rem;
}

.active {
  color: purple;
}