@value tokens: "../../styles/tokens.module.css";
@value spacerMedium, spacerBig, spacerLarge, colorPrimary, colorDark from tokens;

.form {
  composes: form from "../../styles/components.module.css";
  margin-top: spacerLarge;
  display: flex;
  flex-direction: column;
  padding: spacerMedium;
}

.form__label {
  text-transform: uppercase;
  color: colorDark;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.form__input {
  composes: form__input from "../../styles/components.module.css";
  background-color: transparent;
  margin-bottom: spacerMedium;
}

.form__button {
  composes: form__button from "../../styles/components.module.css";
  width: 10rem;
  margin: 0 auto;
  background-color: colorDark;
  border-radius: 10rem;
  color: white;
  padding: 1rem;
}