@value tokens: "../../styles/tokens.module.css";
@value spacerSmall, spacerMedium, spacerBig, fontSizeMedium, colorPrimary, colorDark from tokens;

.post {
  composes: post from "../../styles/components.module.css";
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.post__header {
  display: flex;
  align-items: center;
  margin-bottom: spacerMedium;
}

.post__header__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.post__avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: spacerSmall;
}

.post__user {
  font-weight: bold;
  grid-column: span 2;
  font-size: fontSizeMedium;
  padding-bottom: .3rem;
}

.post__location {
  font-weight: light;
  color: colorDark;
}

.post__location img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: .2rem;
}

.post__time {
  text-align: right;
}

.post__picture {
  width: 100%;
  padding-bottom: spacerSmall;
}

.post__tags {
  color: colorPrimary;
  padding-top: spacerSmall;
  display: flex;
}

.tag {
  margin-right: spacerSmall;
}

.post__bottom {
  margin-top: spacerMedium;
  padding-top: spacerSmall;
  border-top: .1rem solid rgba(0, 0, 0, .15);
}

.post__like {
  border: none;
  padding: .5rem spacerBig;
  background-repeat: no-repeat;
  background-color: white;
}

.liked {
  color: red;
}

.unlike {
  color: black;
}